{% extends 'base.html' %}
{% load tailwind_filters %}
{% block title %} Password Reset Confirm {% endblock title %}
{% block content %}
<!-- <form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
<button type="submit">Reset Password</button>
<hr>
<a href="{% url 'login' %}">Alredy have an account? </a>
</form> -->
<div class="mx-w-lg mx-auto">   
    <h1 class="text-4xl text-gray-800">Enter Your New Password</h1>
    <form action="" method="post" class="mt-5">
        {% csrf_token %}
        {{ form|crispy }}
    <button type="submit" class="w-full bg-blue-500 text-white hover:bg-blue-600 px-3 py-1 rounded-md">Reset Password</button>
    </form>
    <!-- <a href="{% url 'login' %}">Alredy have an account? </a> -->
    <div class="py-5 border-t border-gray-200 mt-5">
        <a class="hover:text-blue-500 mt-5" href="{% url 'login' %}">Alredy have an account?</a>
    </div>

{% endblock content %}


</div>
