<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <h1>Welcome To my Site</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam quis iure, vitae voluptatem eum debitis quam cumque totam voluptates nulla magni aliquid. Vero totam provident fugit neque nam officia incidunt, ad consequatur nihil et architecto, voluptas suscipit illum officiis tempore debitis recusandae reiciendis saepe amet, alias quas vel modi reprehenderit.</p>
    {% for i in data %}
    <p>{{ i }}</p>
    {% endfor %}
</body>
</html>