{% extends 'base.html' %}
{% block title %} Home {% endblock title %}
{% block content %}

    
    
    <h1>Welcome To my Site</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam quis iure, vitae voluptatem eum debitis quam cumque totam voluptates nulla magni aliquid. Vero totam provident fugit neque nam officia incidunt, ad consequatur nihil et architecto, voluptas suscipit illum officiis tempore debitis recusandae reiciendis saepe amet, alias quas vel modi reprehenderit.</p>

    {% for i in data %}
    <div class="lead">
      <a href="{% url 'leads:lead_detail' i.pk %}">{{ i.first_name }}{{  i.last_name }}</a>  <br>
    </div>
    
    {% endfor %}
   <a href="{% url 'leads:lead_create' %}"><button type="submit">Create Lead</button></a> 


   {% endblock content %}